/* ResetPassword.css */

/* General Styles */
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  /* Background white */
}

.card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

h2 {
  color: #2c7a4b;
  /* نفس لون باقي العناوين */
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 600;
}

.subtitle {
  color: #777;
  font-size: 1rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* Input Group */
.input-wrapper {
  margin: 20px 0;
  text-align: left;
}

.input-label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
}

input {
  width: 100%;
  padding: 15px;
  padding-right: 50px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 1.1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #2c7a4b;
  outline: none;
}

/* Eye Icon for Show/Hide Password */
.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.eye-icon:hover {
  color: #2c7a4b;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 0.8rem;
  text-align: left;
  margin-top: 5px;
  margin-left: 5px;
}

/* Reset Button */
.reset-button-image {
  background-color: #2c7a4b;
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reset-button-image:hover {
  background-color: #256a41;
  transform: scale(1.02);
  /* Slight zoom effect on hover */
}

.reset-button-image:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}