/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #2c7a4b;
    --light-color: #f7fcf8;
    --shadow: rgba(44, 122, 75, 0.2) 0px 2px 4px -1px,
        rgba(44, 122, 75, 0.14) 0px 4px 5px 0px,
        rgba(44, 122, 75, 0.12) 0px 1px 10px 0px;
    --font-family: 'Poppins', sans-serif;
    --rating-color: #ffc908;
}

body {
    margin: 0;
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.rating-color {
    color: var(--rating-color);
}

.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: var(--font-family);
}

.product:hover {
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}

.product .btn {
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}

.product:hover .btn {
    opacity: 1;
    transform: translateY(0%);

}

.font-sm {
    font-size: 14px;
}

.text-main {
    color: var(--main-color);
}

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-main-light {
    background-color: var(--light-color) !important;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
}